<aside class="sidebar">

    <div class="sidebar__expertise">
        <header>
            <h5><b>ÁREAS DE ATUAÇÃO</b></h5>
        </header>

        <ul class="list">
            <li><a href="#">Cível Geral</a></li>
            <li><a href="#">Consumidor</a></li>
            <li><a href="#">Licitações e Contratos</a></li>
            <li><a href="#">Previdenciário</a></li>
            <li><a href="#">Trabalhista</a></li>
            <li><a href="#">Tributário</a></li>
            <li><a href="#">###</a></li>
        </ul>
    </div>
</aside>